.wrapper {
  height: 100vh;
  overflow: hidden;
}


.services {
    display: flex;
}

.service-container {
  min-width: 100vw;
  height: 100vh;
  font-size: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}


.services-our {
    background-color: rgb(245, 245, 245);
}
.services-design {
    background-color: rgb(231, 231, 255);
}
.services-video {
  background-color: var(--color-black);
  span {
    color: white !important;
  }
}
.services-sites {
  background-color: var(--color-black);
  span {
    color: white !important;
  }
}

.services-web {
  background-color: rgb(231, 231, 255);
}