.main {
    background: #F5F5FF;
background: linear-gradient(0deg,rgb(255, 255, 255) 0%, rgb(241, 241, 255) 100%);
    height: 100vh;
}

.pill {
    border: 1px solid var(--color-black);
    max-width: 300px;
    border-radius: 30px;
    text-align: center;
    
    .icon {
        color: white;
        background-color: var(--color-black);
        border-radius: 20px;
        width: 16px;
        height: 16px;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.title-box {
    max-width: 400px;
}

.img-border{
    border-top: 3px solid var(--color-black);
     border-right: 3px solid var(--color-black);
     border-radius: 60px;
}

.button {
    background-color: var(--color-black);
    padding: 20px;
    border-radius: 10px;
    color: var(--color-white);
}