.navbar {
    position: fixed;
    top: 5px;
    margin-top: 5px;
    width: 100%;
    transition: .4s;
    max-width: 96vw;
    align-self: center;
    justify-self: center;
    border: 1px solid transparent;
    z-index: 9999;
}



.button-contact {
    background-color: var(--color-black);
    padding: 10px;
    border-radius: 10px;
    color: var(--color-white);
}

.float {

    background-color: #ffffff;
    color: white;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.36);
    border-radius: 560x;
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(255, 255, 255, 0.84);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
 
}

.width-image {
    width: 35px;
}